<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Recipe Finder</title>
    <link href="../styles.css" rel="stylesheet">
</head>

<body>
    <h1>Welcome to RecipeFinder</h1>

    <h2>Recipe Search</h2>

    <div class="choice">
        <p>Search form</p>
        <a href="/searchApplication">Search</a>
    </div>

    <hr>

    <div class="choice">
        <p>View saved</p>
        <a href="/saved">Saved Recipes</a>
    </div>

    <hr>

    <div class="choice">
        <p>Update and View pantry</p>
        <a href="/pantry">Pantry</a>
    </div>

</body>

</html>