<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Recipe Finder</title>
</head>

<body>
    <h1>Pantry</h1>

    <h2>Your ingredients</h2>

    <ul>
        <%- pantry %>
    </ul>

    <hr>

    <p>Add items?</p>
    <a href="/pantry/addItems">Add</a>

    <hr>

    <p>Remove items?</p>
    <a href="/pantry/removeItems">Remove</a>

    <br>
    <a href="/">HOME</a>
</body>

</html>