<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Recipe Finder</title>
</head>

<body>
    <h1>Pantry</h1>

    <h2>Add Items</h2>
    <p>Enter an item and submit to add</p>

    <hr>
    <h4>Current Items</h4>
    <ul>
    </ul>

    <form action="/pantry/removeFromPantry" method="post">
        <% allItems.forEach(elem=> { %>
            <input type="checkbox" name="ingredient" value="<%= elem.name %>">
            <%= elem.name %><br>

                <% }) %>
                    <br>
                    <input type="submit" value="Delete Items">
    </form>

    <br>
    <a href="/pantry">HOME</a>

</body>

</html>